<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
  	
  	 <listener class-name="Hiko.Listeners"/>
     <listener class-name="resources.ExtentReporterNG"/>   		
  	
  </listeners>
  <test thread-count="5" name="Home Page test">
 
    <classes>
      <class name="Hiko.HomePage"/>
     </classes>
     
  </test> <!-- Test -->
  
  <test thread-count="5" name="Title Validation test">
  
    <classes>
      <class name="Hiko.ValidateTitle"/>
    </classes>
    
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
